<!DOCTYPE html>
<html>
<head>
  <title>YouAreWeakApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', cache: true %>
  <%= favicon_link_tag '/assets/favicon-small.png', type: 'image/png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
